/*
Theme Name: Nystia
Description: //TODO
Author: Anca Pantilie
Template: hestia
Version: 1.0.0
*/

/* ===== Home ===== */

/* Features */

.home .hestia-features .hestia-title {
    color: #999;
    font-size: 36px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.home .hestia-features .feature-box .icon {
    display: inline-block;
    background-color: goldenrod;
    margin-bottom: 10px;
    height: 64px;
    width: 64px;
    border-radius: 15px;
    padding: 8px;
}

.home .hestia-features .feature-box .icon .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 46px;
    text-align: center;
    color: white;
}

.home .hestia-features .feature-box .info-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.home .hestia-features .feature-box .hestia-info,
.home .hestia-features .description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px;
}



/* Testimonials */

.hestia-testimonials .text-center .hestia-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 17px;
    padding-bottom: 10px;
    color: #999999;
}

.hestia-testimonials .text-center .description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px;
}

.hestia-testimonials .card-testimonial .card-avatar .img {
    max-width: 40px;
    max-height: 40px;
    -webkit-box-shadow:none;
}

.hestia-testimonials .card-testimonial .card-avatar {
    position: absolute;
    top: 35px;
    right: 313px;
}

.hestia-testimonials .card-testimonial .card-title {
    text-align: left;
    padding-left:45px;
    color: #9A9A9A;
}

.hestia-testimonials .card-testimonial .card-description,
.hestia-testimonials .card-testimonial .text-muted {
    text-align: left;
}

/*Meet the team*/
.hestia-team .text-center .hestia-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    padding-bottom: 10px;
    color: #999999;
}

.hestia-team .text-center .description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 10px;
}

.hestia-team-content .card-plain  .card-image {
    border: 5px solid #EEEEEE;
    border-radius: 50%;
    width: 124px;
    height: 124px;
    -webkit-box-shadow: none;
}

.hestia-team-content .card-plain .content .card-title {
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    margin: 0 0 10px 0;
    color: #333333;
}

.hestia-team-content .card-plain .content .card-description {
    display: none;
}

.hestia-team-content .card-plain .col-md-5,
.hestia-team-content .card-plain .col-md-7 {
    float: none;
    margin: 0 auto;
    text-align: center;
}

.hestia-team-content .card-plain .card-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.hestia-team-content .card-plain .text-muted {
    font-size: 16px;
    font-weight: 300;
    line-height:29px ;
    color: #9A9A9A;
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
}

/*Subscribe*/
.hestia-ribbon .hestia-like-table .text-center .hestia-subscribe-button {
    width: 100%;
}

/*=====Single Product Page=====*/

.woocommerce.single-product .product_title.entry-title {
    font-size: 28px;
    font-weight:500;
    text-transform: uppercase;
    line-height:30px;
    color: #333;
    margin: 30px 0 15px;
    margin-top: 0;
}

.single-product .type-product .woocommerce-breadcrumb,
.single-product .type-product .woocommerce-product-rating,
.single-product .type-product .woocommerce-product-gallery__trigger {
    display: none;
}

.single-product .type-product .woocommerce-product-gallery .flex-control-nav img {
    border-radius: 5px;
}

.single-product .type-product .flex-viewport {
    border-radius: 5px;
}

.single-product .type-product .price {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEEEEE;
}

.single-product .type-product .cart {
    position: absolute;
    top: 580px;
    right: 338px;
}

.single-product .related.products h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
}

.single-product .related.products .card-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #333333;
    margin: 0;
}

.single-product .related.products .card-description {
    display: none;
    margin-bottom: 10px;
}

.single-product .related.products .footer .fa-cart-plus {
    display: none;
}

.single-product .woocommerce-Reviews .comment-reply-title {
    font-size: 28px;
    font-weight:500;
    text-transform: uppercase;
    line-height:30px;
    color: #333;
}

.single-product .woocommerce-Reviews .comment-form .comment-form-rating,
.single-product .woocommerce-Reviews .comment-form .comment-form-comment {
    font-size: 18px;
    line-height: 30px;
    font-weight:300;
    color: #333;
    margin: 0;
}


/*=====Cart Page=====*/
/*Cart Styles*/
.woocommerce-cart .main .blog-post h1.hestia-title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: #333333;
}

.woocommerce-cart .main .blog-post .shop_table th {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #9A9A9A;
}

.woocommerce-cart .main .blog-post .shop_table .product-name a,
.woocommerce-cart .main .blog-post .shop_table .product-price .amount,
.woocommerce-cart .main .blog-post .shop_table .product-quantity .input-text,
.woocommerce-cart .main .blog-post .shop_table .product-subtotal .amount {
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: #333;
}


/*Cart Total Styles*/
.woocommerce-cart .main .cart_totals h2 {
    font-size: 22px;
    font-weight: 400;
}

.woocommerce-cart .main .cart_totals .shop_table th {
    color: #333;
}

 /*Removing button shadow*/
.woocommerce-cart .main .cart_totals  .checkout-button {
   box-shadow: none;
}

.woocommerce-cart .main .cart_totals  .checkout-button:hover {
    box-shadow: none;
}

.woocommerce-cart .main  .actions .button:hover {
    box-shadow: none;
}

/*Removing box shadow*/
.woocommerce-cart .main .cart_totals .card-raised {
    box-shadow: none;
}

.woocommerce-page .woocommerce a.button {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.woocommerce-page .woocommerce .button.wc-backward:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*======Removing boxed layout=====*/

 .main-raised {
    margin:0;
    box-shadow: none;
    border-radius: 0;
}

 .card-product .card-image {
     margin: 0;
 }

 /*=====Pagination=====*/

/*Circle around page number*/

.woocommerce.woocommerce-page .woocommerce-pagination  ul li a,
.blog a.page-numbers,
.archive a.page-numbers {
    border: 1px solid #DDDDDD;
}

.woocommerce.woocommerce-page .woocommerce-pagination  .prev.page-numbers,
.woocommerce.woocommerce-page .woocommerce-pagination  .next.page-numbers {
    color: #f0f0f0;
    padding: 0 4px;
    border: 1px solid #ddd;
}

.blog .next.page-numbers,
.blog .prev.page-numbers,
.archive .next.page-numbers,
.archive .prev.page-numbers {
    color: #fff;
    width: 30px;
    height: 30px;
    display: inline-flex;
}

.blog a.next.page-numbers:hover,
.blog a.prev.page-numbers:hover,
.archive a.next.page-numbers:hover,
.archive a.prev.page-numbers:hover{
    color: #f0f0f0;
    overflow: hidden;
}

/*Hover color*/
.woocommerce.woocommerce-page .woocommerce-pagination  ul li a:hover   {
    background-color: #DADADA;
}

.woocommerce.woocommerce-page .woocommerce-pagination  a.prev.page-numbers:hover,
.woocommerce.woocommerce-page .woocommerce-pagination  a.next.page-numbers:hover{
    color: #DDDDDD;
}

/*Removing the shadow of the active link*/
.woocommerce.woocommerce-page .woocommerce-pagination ul li span.current,
.blog .page-numbers.current,
.archive .hestia-blogs .page-numbers.current {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.blog .page-numbers.current:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}


/*Adding FontAwesome icons*/
/*Shop page*/
.woocommerce.woocommerce-page .woocommerce-pagination li .prev::before {
    font-family: FontAwesome;
    content:"\f100" ;
    color: #999;
    position: relative;
    bottom: 1px;
    right: -5px;

}

.woocommerce.woocommerce-page .woocommerce-pagination li .next::after {
    font-family: FontAwesome;
    content:"\f101" ;
    color:#999;
    position: relative;
    bottom: 1px;
    left:-5px;
}

/*Blog page*/
.blog .nav-links .prev::before {
    content: '\f100';
    font-family: FontAwesome;
    position: relative;
    right: 1px;
    color:#999;
}

.blog .nav-links .next::after {
    content: '\f101';
    font-family: FontAwesome;
    position: relative;
    right: 29px;
    color:#999;
}

/*Archive page*/
.archive .hestia-blogs .nav-links .prev.page-numbers::before {
    font-family: FontAwesome;
    content: '\f100';
    position: relative;
    right: 1px;
    color:#999;

}
.archive .hestia-blogs .next::after {
    font-family: FontAwesome;
    content: '\f101';
    position: relative;
    right: 29px;
    color:#999;
}

    /*position: relative;*/
}

/*=====Shop Page=====*/


/*Content left align*/
.woocommerce .card-product .category,
.woocommerce .card-product .card-title {
    text-align: left;
}

/*Font properties*/
.archive.woocommerce.woocommerce-page .blog-post .products  li .content .category a {
    color: #999;
}

/*Hiding product description+category*/
.woocommerce .card-product .card-description,
.archive.woocommerce.woocommerce-page .blog-post .products  li .content h6.category {
    display: none;
}

/*Font properties*/
.woocommerce .card-product .card-title {
    font-size:19px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    margin: 15px 0 5px;
}

.woocommerce.archive .main-raised {
    margin-bottom: 0;
}

/*Removes box shadow*/
.archive.woocommerce .card,
.archive.woocommerce .card-image {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.archive.woocommerce .products .card-product .card-image {
    box-shadow: none;
}

.woocommerce .card.card-product {
    background-color: #F0F0F0;
}

/*=====Comments=====*/
/*Remove avatar and buttons shadow*/
.blog-post .section-comments .avatar {
    -webkit-box-shadow: none;
    nox-shadow:none;
}

.blog-post input[type="submit"] {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin:-25px 10px;
}

.blog-post .btn-primary.pull-right:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*Text align*/
.blog-post .section-comments .hestia-title {
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    color: #3C4858;
}

.blog-post .comment .media-footer .comment-reply-link {
    float: none;
}

.blog-post .comment .media-heading small {
    /*float: right;*/
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    color: #777;
}

/*Comments thread*/
.blog-post .section-comments ul.children {
    margin-left: 50px;
    margin-top: 20px;
}

.blog-post .section-comments .comment {
    margin-top: 40px;
}

/*Font styles*/
.blog-post .section-comments .comment .media-heading {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
}

.blog-post .section-comments .comment .media-body p {
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.blog-post .section-comments .comment:not(.parent){
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

/*Reply section*/
.blog-post .media-body .form-control {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.blog-post .media-body .form-group .control-label {
    position: unset;
    margin-top: -10px;
}